<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="container-sm bg-color rounded">
        <header>
            <% if(locals.user) {%>
                <h3 class="text-left text-color"><%=user.username%></h3>
                <li class="text-right"><a href="/users/signout">Signout</a></li>
            <%}else{%>
                <li class="text-right"><a href="/users/signin">SignIn</a></li>
                <li class="text-right"><a href="/users/signup">SignUp</a></li>
            <%}%>        
        </header>
    </div>
    