@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
}

.bg-color{
    background-color:#f64c72;
}

.text-color{
    color: #2f2fa1;
}

.container-sm{
    height: 5% important!;
    font-family: 'Open Sans', sans-serif;
}

header{
    padding-left: 0.5%;
    padding-right: 0.5%;
}

.main{
    height: 300px;
    position: relative;
}  

.vertical-center-heading{
    margin: 0;
    position: absolute;
    top: 60%;
    left: 35%;
    transform: translateY(-50%);
}

.welcomeHeading{
    font-size: 80px;
    font-weight: 400;
}

.vertical-center-nav{
    margin: 0;
    position: absolute;
    top: 85%;
    left: 37%;
    transform: translateY(-50%);
}

li{
    list-style-type: none;
    padding: 20px;
}

.inline-list{
    display: inline;
}
